<% if !@user.nil? %>

<table class="mytable">
  <thead>
    <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Email</td>
      <td>Created At</td>
      <td>Updated At</td>
      <td>Title</td>
      <td>Password</td>
      <td>Phone</td>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @user.id %></td>
        <td><%= @user.name %></td>
        <td><%= @user.email %></td>
        <td><%= @user.created_at %></td>
        <td><%= @user.updated_at %></td>
        <td><%= @user.title %></td>
        <td><%= @user.password %></td>
        <td><%= @user.phone %></td>
      </tr>
  </tbody>
</table>

<!-- Start of Posts -->

<% if @posts.any? %>
<table class="mytable">
  <thead>
    <tr>
      <td>ID</td>
      <td>Topic</td>
      <td>Created At</td>
      <td>Updated At</td>
      <td>Delete</td>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.topic %></td>
        <td><%= post.created_at %></td>
        <td><%= post.updated_at %></td>
        <td><%= button_to "Delete", post_path(post.id), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="8">End of Posts List :)</td>
    </tr>
  </tfoot>
</table>

<% else %>
  <div class="form"> No Posts found. :(</div>
<% end %>

<!-- End of Posts -->

<div>User Address:</div>
<% if !@address.nil? %>
<table class="mytable">
  <thead>    
    <tr>
      <td>ID</td>
      <td>Country</td>
      <td>City</td>
      <td>Zipcode</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @address.id %></td>
      <td><%= @address.country %></td>
      <td><%= @address.city %></td>
      <td><%= @address.zipcode %></td>
    </tr>
  </tbody>
</table>  

<% else %>
  <div class="form"> No Address found. :(</div>
<% end %>

<% else %>
<div> User not found :( </div>
<% end %>


